.monster-win-area {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.lose-gif {
  object-fit: cover;
  height: 100vh;
  position: fixed;
  z-index: -1;
  opacity: 70%;
}

.losing-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  font-size: 4vw;
}

.losing-button {
  margin-bottom: 2rem;
  font-size: 4vw;
}

.losing-text-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
