.welcome-view {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-title {
  margin-top: 30vh;
  margin-bottom: 10vh;
  text-align: center;
}

.enter-button {
  border: 1px solid black;
  background-color: transparent;
  padding: 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
  text-shadow: 2px 2px black;
}

.enter-button:hover {
  color: lightblue;
  border: 1px solid lightblue;
}

.welcome-gif {
  object-fit: cover;
  height: 100vh;
  position: fixed;
  z-index: -1;
  box-shadow: 0 0 50vh 10vh black;
}

button {
  background-color: #4c6b94;
  border-radius: 0.5rem;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 1vh goldenrod;
}

button:disabled {
  background-color: #434b56;
}

button:disabled:hover {
  box-shadow: none;
  cursor: not-allowed;
}
